body {
  background-color: black;
  background-image: url("aur.jpg");
  font-family: 'Roboto Mono' ;
  color: white;
}

h1 {font-size: 6vh;}
p {font-size: 3vh;}

#content p {
  font-size: 2vh;
  text-align:center;
}

#container{
  text-align:center;
}

#header {
  margin-bottom: 50px;
}
