body {
  background-color: black;
  background-image: url("aur.jpg");
}

h1 {
  font-size: 6vh;
  font-family: 'Roboto Mono' ;
  color: white;
}

p, span {
  font-size: 3vh;
  font-family: 'Roboto Mono' ;
  color: white;
}

.formfield * {
  vertical-align: middle;
}

table td {
  padding: 10px;
}

table th {
  padding: 10px;
  text-align: center;
  font-size: 14pt;
}


.content { 
  margin-top: 50px;
}

.content p {
  font-size: 2vh;
  text-align:center;
  margin-bottom: 50px;
  font-family: 'Roboto Mono' ;
  color: white;
}

.content input {
  color: black;
}

.content textarea {
  color: black;
}

.courseInfoContainer {
  margin: 20px;
  vertical-align: middle;
}

.courseTitleBlock {
  font-size: 18pt;
  display: inline-block;
  text-align: center;
  width: 300px;
  vertical-align: middle;
}

.courseInfoBlock {
  font-size: 12pt;
  text-align: center;
  display: inline-block;
  max-width: 600px;
  vertical-align: middle;
}

.courseInfoBarBlock {
  display: inline-block;
  max-width: 200px;
  min-width: 100px;
  width: 200px;    /* Firefox/Gecko */
}

#container{
  text-align:center;
  font-family: 'Roboto Mono' ;
  color: white;
}
